# Writing to a csv file

In [ ]:
# Multiples of 12

In [ ]:
n = [0] * 12

In [ ]:
for i in range(1, 13):
    n[i-1] = i * 12
outfile = open("Multiples12.txt", "w")
for j in range(0, len(n)):
    outfile.write(str(j+1) + ',' + str(n[j]))
    outfile.write("\n")
outfile.close()

In [ ]:
infile = open('Multiples12.txt','r')
lines = infile.readlines()
for lin in lines:
    print("Type of lin is: " + str(type(lin)))
    
    print(lin.strip())
    vals = lin.strip().split(',')
    print("Type of vals is: "  + str(type(vals)))
    print(vals)

In [17]:
# More complicated example-  reduced_olympics.csv
olympians = [("John Aalberg", 31, "Cross Country Skiing"),
             ("Minna Maarit Aalto", 30, "Sailing"),
             ("Win Valdemar Aaltonen", 54, "Art Competitions"),
             ("Wakako Abe", 18, "Cycling")]

outfile = open("reduced_olympics.csv", "w")
# output the header row
outfile.write('Name,Age,Sport')
outfile.write('\n')
# output each of the rows:
for olympian in olympians:
    row_string = '{},{},{}'.format(olympian[0], olympian[1], olympian[2])
    outfile.write(row_string)
    outfile.write('\n')
outfile.close()

In [15]:
inputfile = open('reduced_olympics.csv')
lines = inputfile.readlines()
header = lines[0]
field_names = header.strip().split(',')
print(field_names)

for row in lines[1:]:
    print(row.strip())
    # vals = row.strip().split(',')
    # print(vals)
inputfile.close()

['Name', 'Age', 'Sport']
John Aalberg,31,Cross Country Skiing
Minna Maarit Aalto,30,Sailing
Win Valdemar Aaltonen,54,Art Competitions
Wakako Abe,18,Cycling